@import url("../../index.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

#root {
  min-height: 100vh;
  background-color: var(--background-color);
}

.home-wrapper {
  height: 100%; 
  flex-grow: 1;
  padding-bottom: 4rem; 
  background-color: var(--background-color);
  font-family: var(--inter-font);
  padding-top: 2em; 
}

#carreras {
  padding-top: 2.5rem;
}

.carreras-container {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.carreras-container > h1 {
  text-align: center;
  font-size: 2.25rem;
  font-weight: 800;
  color: var(--gray-800);
  margin-bottom: 0.75rem;
}

.carreras-container > p {
  text-align: center;
  color: var(--gray-500);
  font-size: 1.125rem;
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
}

.carreras-grid {
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  width: 100%;
  margin-top: 2em;
}

@media (max-width: 1350px) {
  .carreras-container {
    max-width: 1200px;
  }
  
  .carreras-grid {
    gap: 25px;
  }
}

@media (max-width: 1200px) {
  .carreras-container {
    max-width: 1000px;
  }
  
  .carreras-grid {
    gap: 20px;
  }
  
  h1 {
    font-size: 2.6rem;
    margin-bottom: 35px;
  }
}

@media (max-width: 992px) {
  .carreras-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 25px;
  }
  
  .carreras-container {
    max-width: 800px;
  }
  
  h1 {
    font-size: 2.4rem;
    margin-bottom: 30px;
  }
  
  #carreras {
    padding: 25px 15px 35px 15px;
  }
}

@media (max-width: 768px) {
  .carreras-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
  }
  
  .carreras-container {
    max-width: 400px;
  }
  
  h1 {
    font-size: 2.2rem;
    margin-bottom: 25px;
  }
  
  #carreras {
    padding: 20px 10px 30px 10px;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  #carreras {
    padding: 15px 10px 25px 10px;
  }
  
  .carreras-grid {
    gap: 15px;
  }
}