.title{
    margin: 1em;
}

.material-icons{
    display: flex;
}

.material-layout-container {
  display: flex;
  flex-direction: row;
}

.material-main-content {
  flex: 2;
}

.material-sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
}