.alert-custom-toast {
	border: none;
	border-radius: 8px;
	box-shadow: 0 4px 12px rgba(1, 6, 12, 0.3);
	max-width: 90vw;
}

.alert-custom-header {
	border: none;
	padding: 0.75rem 1rem;
}

.alert-custom-body {
	padding: 0.75rem 1rem;
}

.alert-max-width-md {
	max-width: 500px;
}

@media (min-width: 992px) {
	.alert-max-width-md {
		max-width: 600px;
	}
}

@media (max-width: 575.98px) {
	.alert-max-width-md {
		max-width: calc(100% - 1rem);
	}
}