.alert-custom-toast {
	border: none;
	border-radius: 8px;
	box-shadow: 0 4px 12px rgba(1, 6, 12, 0.3);
	max-width: 90vw; /* Limita el ancho máximo al 90% del viewport */
}

.alert-custom-header {
	border: none;
	padding: 0.75rem 1rem;
}

.alert-custom-body {
	padding: 0.75rem 1rem;
}

/* Reglas para responsividad */
.alert-max-width-md {
	max-width: 500px; /* Define el ancho máximo deseado para la alerta en pantallas medianas */
}

@media (min-width: 992px) { /* Por ejemplo, para dispositivos de escritorio (lg) */
	.alert-max-width-md {
		max-width: 600px; /* Un poco más ancha para monitores grandes */
	}
}

@media (max-width: 575.98px) { /* Para pantallas extra pequeñas (xs) */
	.alert-max-width-md {
		max-width: calc(100% - 1rem); /* Asegura que la alerta no sea más ancha que la pantalla menos los márgenes */
	}
}