.carrera-card {
    transition: transform 300ms ease-in-out, box-shadow 300ms ease-in-out, border-color 300ms ease-in-out, ring-color 300ms ease-in-out;
    cursor: pointer;
    height: 100%;
    background-color: white !important;
    border: 1px solid var(--gray-100);
    border-radius: 0.75rem !important;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    text-decoration: none !important;
}

.carrera-card:hover {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    border-color: var(--indigo-400);
    box-shadow: 0 0 0 2px var(--indigo-200), 
                0 20px 25px -5px rgba(0, 0, 0, 0.1), 
                0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.carrera-card:active {
    transform: scale(0.98);
}

.carrera-body {
    padding: 1rem !important;
    display: flex;
    align-items: center;
    width: 100%;
}

.icon-container {
    width: 4rem;
    height: 4rem;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    background-color: var(--indigo-100-70);
}

.carrera-icon {
    font-size: 2rem;
    color: var(--indigo-700);
}

.carrera-name {
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--gray-800);
    margin-bottom: 0;
}