.upvote svg,
.downvote svg,
.options svg {
  font-size: 24px;
  transition: color 0.2s ease;
  cursor: pointer;
}

.upvote.active svg {
  color: blue;
}

.downvote.active svg {
  color: red;
}

p, h3, h4{
  margin: 5px;
}

.vote{
  display: flex;
  flex-direction: row;
}

#upvote, #downvote{
  display: flex;
  flex-direction: row;
  margin: 10px;
  align-items: center;
}